In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('exam_marks_pred.csv')

In [3]:
df.shape

(201, 4)

In [4]:
df.head()

   hours  age  internet  marks
0   6.83   15         1  78.50
1   6.56   16         0  76.74
2    NaN   17         1  78.68
3   5.67   18         0  71.82
4   8.67   19         1  84.19

In [6]:
df.columns

Index(['hours', 'age', 'internet', 'marks'], dtype='object')

In [7]:
df.describe()

            hours         age    internet       marks
count  196.000000  201.000000  201.000000  201.000000
mean     6.981429   17.467662    0.552239   77.951244
std      1.266266    1.720523    0.498505    4.919626
min      4.150000   15.000000    0.000000   68.570000
25%      5.757500   16.000000    0.000000   73.400000
50%      7.110000   17.000000    1.000000   77.770000
75%      8.082500   19.000000    1.000000   82.300000
max      8.990000   20.000000    1.000000   86.990000

In [9]:
df.info

<bound method DataFrame.info of      hours  age  internet  marks
0     6.83   15         1  78.50
1     6.56   16         0  76.74
2      NaN   17         1  78.68
3     5.67   18         0  71.82
4     8.67   19         1  84.19
..     ...  ...       ...    ...
196   8.56   19         1  84.68
197   8.94   20         1  86.75
198   6.60   15         1  78.05
199   8.35   16         1  83.50
200   4.15   15         0  81.45

[201 rows x 4 columns]>

In [12]:
df.isnull().sum()

hours       5
age         0
internet    0
marks       0
dtype: int64

In [13]:
df.hours = df.hours.fillna(df.hours.mean())

In [15]:
X = df.iloc[:, :-1].values

In [18]:
y = df.iloc[:, -1].values

In [19]:
from sklearn.model_selection import train_test_split

In [22]:
X_train, X_test, Y_train, Y_test = train_test_split(X,y,test_size=0.25)

In [23]:
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

((150, 3), (51, 3), (150,), (51,))

In [25]:
from sklearn.linear_model import LinearRegression

In [26]:
Lr = LinearRegression()

In [28]:
Lr.fit(X_train,Y_train)

LinearRegression()

In [38]:
value_for_prediction =[[5,20,1]]
predicted_output= Lr.predict(value_for_prediction)
print(predicted_output)

[70.40172385]

In [42]:
from sklearn.metrics import r2_score

In [43]:
Y_pred = Lr.predict(X_test)

In [44]:
r2_score(Y_test, Y_pred)

0.9550796357109196